[defaults]
inventory=inventory
sudo_user=root
ask_pass=true
remote_user=sri
host_key_checking=false
remote_tmp=/tmp
forks=40
[privilege_escalation]
become=true
become_method=sudo
become_ask_pass=true
become_user=root
